@using MarketPlace.Application.Utilities
@model MarketPlace.DataLayer.Entities.Contact.AboutUs
@{
    ViewData["Title"] = "درباره ما";
}

<div class="page-header text-center" style="background-image: url('~/Theme/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">@ViewData["Title"]
        </h1>
    </div><!-- End .container -->
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </div><!-- End .container -->
</nav>
<!--End .breadcrumb-nav-->

<div class="page-content pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="about-text text-center mt-3">
                    <h2 class="title text-center mb-2">آنچه درباره ما باید بدانید</h2><!-- End .title text-center mb-2 -->
                    <p class="text-center">
                        @Html.Raw(Model.AboutUsText)
                    </p>
                    <br />
                    <img src="@(PathExtension.AboutUsOrigin + Model.AboutUsImage)" alt="@Model.AboutUsText" title="@Model.AboutUsText" class="mx-auto mb-5">
                </div><!-- End .about-text -->
            </div><!-- End .col-lg-10 offset-1 -->
        </div><!-- End .row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject1</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service1
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject2</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service2
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject3</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service3
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject4</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service4
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject5</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service5
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-sm text-center">
                    <span class="icon-box-icon">
                        <i class="icon-puzzle-piece"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">@Model.ServiceSubject6</h3><!-- End .icon-box-title -->
                        <p class="text-center">
                            @Model.Service6
                        </p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-2"></div><!-- End .mb-2 -->

</div>
