@using MarketPlace.Application.Utilities
@model MarketPlace.DataLayer.DTOs.Account.EditUserProfileDTO
@{
    ViewData["Title"] = "ویرایش اطلاعات";
}

@section Scripts
{
    <partial name="_JqueryValidators" />
}

<div class="page-header text-center">
    <div class="container">
        <h3 class="text-danger">@ViewData["Title"]</h3>
    </div><!-- End .container -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <h5 class="page-title">پنل کاربری ، @User.Identity.Name</h5>
        </div><!-- End .container -->
    }
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item" aria-current="page"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">داشبورد</a></li>

            <li class="breadcrumb-item active"><a href="#">@ViewData["Title"]</a></li>

        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    @await Component.InvokeAsync("UserSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form method="post" asp-area="User" asp-controller="Account" asp-action="EditProfile" enctype="multipart/form-data">


                                <div class="row col-md-12">
                                    <div class="form-group col-md-6">
                                        <label>نام</label>
                                        <input type="text" asp-for="FirstName" class="form-control">
                                        <span class="text-danger float-right" asp-validation-for="FirstName"></span>
                                    </div>
                                    <br />
                                    <div class="form-group col-md-6">
                                        <label>نام خانوادگی</label>
                                        <input type="text" asp-for="LastName" class="form-control">
                                        <span class="text-danger float-right" asp-validation-for="LastName"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>ایمیل</label>
                                        <input type="text" asp-for="Email" class="form-control">
                                        <span class="text-danger float-right" asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="row col-md-12">
                                    <div class="file-upload col-md-9">
                                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">آپلود تصویر پروفایل</button>

                                        <div class="image-upload-wrap">
                                            <input class="file-upload-input" name="avatarImage" type='file' onchange="readURL(this);" accept="image/*" />
                                            <div class="drag-text">
                                                <h3>تصویر مورد نظر را به داخل کادر بکشید یا دکمه آپلود تصویر را بزنید</h3>
                                            </div>
                                        </div>
                                        <div class="file-upload-content">
                                            <img class="file-upload-image" src="@(!string.IsNullOrEmpty(Model.Avatar) ? PathExtension.SellerNationalCardImageThumb + Model.Avatar
                                                                                    : PathExtension.DefaultAvatar )" alt="تصویر پروفایل" />
                                            <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload()" class="remove-image">حذف تصویر</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="file-upload col-md-3">

                                        <div class="image-upload-wrap" style="width: 165px; height: 125px;">
                                            <div class="drag-text">
                                                <img style="width: 150px; height: 110px;"
                                                     src="@(!string.IsNullOrEmpty(Model.Avatar) ? PathExtension.UserAvatarThumb + Model.Avatar
                                                              : PathExtension.DefaultAvatar )" alt="تصویر پروفایل" />
                                                <br/>
                                                <h5>تصویر آپلود شده</h5>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <br />
                                <  <button type="submit" onclick="wait_me()" class="btn btn-round btn-primary btn-block float-right">
                                    <span>ویرایش اطلاعات</span>
                                    <i class="fa fa-edit fa fa-2x"></i>
                                </button>
                                <button onclick="window.history.go(-1)" class="btn btn-round btn-info btn-block float-right">
                                    <span>بازگشت به صفحه قبل</span>
                                    <i class="fa fa-arrow-circle-left fa fa-2x"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>



