@using MarketPlace.Application.Extensions
@model MarketPlace.DataLayer.DTOs.ProductOrder.FilterUserOrderDTO
@{
    ViewData["Title"] = "سفارشات من";
}

<div class="page-header text-center">
<div class="container">
    <h3 class="text-danger">@ViewData["Title"]</h3>
</div><!-- End .container -->
@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <h5 class="page-title">پنل کاربری ، @User.Identity.Name</h5>
    </div><!-- End .container -->
}
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item" aria-current="page"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">داشبورد</a></li>

            <li class="breadcrumb-item active"><a href="#">@ViewData["Title"]</a></li>

        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    @await Component.InvokeAsync("UserSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <form asp-area="User" asp-controller="Order" asp-action="GetUserOrder" id="filter-form" method="get">
                            <input type="hidden" asp-for="PageId" />
                        </form>
                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            @if (Model.Orders != null && Model.Orders.Any())
                            {
                                <h3 class="title mb-3">لیست سفارشات</h3>

                                <div class="col-md-12">


                                    <table class="table table-striped table-responsive-md text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">شناسه</th>
                                                <th scope="col">شماره پیگیری</th>
                                                <th scope="col">وضعیت</th>
                                                <th scope="col">تاریخ تراکنش</th>
                                                <th scope="col">عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {

                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.TrackingCode</td>

                                                @switch (item.OrderAcceptanceState.GetEnumName())
                                                {
                                                    case "درحال بررسی":
                                                        <td class="text-warning">@item.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                    case "پرداخت شده":
                                                        <td class="text-success">@item.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                    case "لغو شده":
                                                        <td class="text-danger">@item.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                }
                                                <td>@item.PaymentDate</td>

                                                <td>
                                                    <a asp-area="User" asp-controller="Order" asp-action="GetUserOrderDetailItem" asp-route-orderId="@item.Id"
                                                       class="btn btn-round btn-info btn-sm">نمایش محصولات</a>
                                                </td>
                                            </tr>


                                            }
                                        </tbody>
                                    </table>


                                </div>
                            }
                            else
                            {
                                <partial name="_NoItemFound" />
                            }
                        </div><!-- .End .tab-pane -->
                        <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>


