@using MarketPlace.Application.Utilities
@using MarketPlace.Application.Extensions
@model MarketPlace.DataLayer.DTOs.SellerWallet.FilterSellerWalletDTO
@{
    ViewData["Title"] = "کیف پول فروشنده";
}

<div class="page-header text-center">
    <div class="container">
        <h3 class="text-danger">@ViewData["Title"]</h3>
    </div><!-- End .container -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <h5 class="page-title">پنل فروشندگی ، @User.Identity.Name</h5>
        </div><!-- End .container -->
    }
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">داشبورد پنل کاربری</a></li>
            <li class="breadcrumb-item"><a asp-area="Seller" asp-controller="Home" asp-action="Index">داشبورد پنل فروشندگی</a></li>
            <li class="breadcrumb-item" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row col-md-12 col-lg-12">
                <aside style="padding-right: 20px;" class="col-md-3 col-lg-2">
                    @await Component.InvokeAsync("SellerSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-9 col-lg-10">
                    <div class="tab-content">
                        <form asp-area="Seller" asp-controller="SellerWallet" asp-action="Index" id="filter-form" method="get">
                            <input type="hidden" asp-for="PageId" />
                        </form>

                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">


                            <div>
                                <h3 class="title mb-3">لیست تسویه تراکنش ها</h3>
                            </div>
                            <br />

                            @if (Model.SellerWallets != null && Model.SellerWallets.Any())
                            {

                                <div class="col-sm-12 col-md-12 col-lg-12">

                                    <table class="table table-bordered table-striped table-responsive-sm  text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>شناسه</th>
                                                <th>مبلغ</th>
                                                <th>واریز / برداشت</th>
                                                <th>تاریخ درخواست</th>
                                                <th>توضیحات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.SellerWallets)
                                            {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Price.ToString("#,0 تومان")</td>
                                                <td>@item.TransactionType.GetEnumName()</td>
                                                <td>@item.CreateDate.ToShamsiDateTime()</td>
                                                <td>@item.Description</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            }
                            else
                            {
                                <partial name="_NoItemFound" />
                            }
                        </div><!-- .End .tab-pane -->
                        <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>




