@using MarketPlace.DataLayer.DTOs.ProductOrder
@using MarketPlace.DataLayer.DTOs.Common
@using MarketPlace.Application.Extensions
@model FilterUserOrderDTO
@{
    ViewData["Title"] = "مدیریت سفارشات";
}

@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت فروشندگان</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-filter"></i> فیلتر ها</div>
            <div class="card-body">

                <form asp-area="Administration" asp-controller="Order" asp-action="GetOrders" method="get" id="filter-form">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>شماره پیگیری سفارش</label>
                            <input class="form-control" asp-for="TrackingCode" />
                        </div>
                        <div class="form-group col-lg-6">
                            <div>
                                <label>وضعیت</label>
                            </div>
                            @foreach (var item in Html.GetEnumSelectList<FilterUserOrderState>())
                            {
                                <div class=" radio icheck-material-white icheck-inline">
                                    <label>
                                        <input type="radio" style="width: 16px;height: 16px" value="@item.Value" name="@nameof(Model.FilterUserOrderState)"
                                               @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.FilterUserOrderState) ? "checked" : "")>
                                        <span class="text">@item.Text</span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">اعمال فیلتر</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> @ViewData["Title"]</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.Orders != null && Model.Orders.Any())
                                {
                                    <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc">شناسه</th>
                                                <th class="sorting">شماره پیگیری تراکنش</th>
                                                <th class="sorting">وضعیت</th>
                                                <th class="sorting">تاریخ تراکنش</th>
                                                <th class="sorting">دستورات</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var order in Model.Orders)
                                            {
                                            <tr id="ajax-url-item-@order.Id" role="row" class="odd">
                                                <td class="sorting">@order.Id</td>

                                                <td>@order.TrackingCode</td>
                                                @switch (order.OrderAcceptanceState.GetEnumName())
                                                {
                                                    case "درحال بررسی":
                                                        <td class="text-warning">@order.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                    case "پرداخت شده":
                                                        <td class="text-success">@order.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                    case "لغو شده":
                                                        <td class="text-danger">@order.OrderAcceptanceState.GetEnumName()</td>
                                                        break;
                                                }
                                                <td>@order.PaymentDate</td>
                                                <td>
                                                    <a class="btn btn-sm btn-success" ajax-url-button="@order.Id"
                                                       asp-area="Administration" asp-controller="Seller" asp-action="AcceptSellerRequest"
                                                       asp-route-requestId="@order.Id">
                                                        تایید اطلاعات
                                                    </a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="alert-message text-dark">
                                            <span><strong>هشدار!</strong> هیچ اطلاعاتی یافت نشد</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <hr />
                    </div>
                </div>
                <br />
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_info" id="default-datatable_info" role="status" aria-live="polite">نمایش تعداد 10 سفارش در هر صفحه از تعداد کل : @Model.Orders.Count سفارش</div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Orders != null && Model.Orders.Any())
{
    foreach (var item in Model.Orders)
    {
        <div class="modal fade" id="reject-seller-modal-@item.Id">
            <div class="modal-dialog">
                <div class="modal-content animated zoomInUp">
                    <div class="modal-header">
                        <h5 class="modal-title">لغو سفارش با شماره پیگیری: @item.TrackingCode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-area="Administration"
                              asp-controller="Seller"
                              asp-action="RejectSellerRequest"
                              asp-antiforgery="true"
                              data-ajax="true"
                              data-method="post"
                              data-ajax-success="OnSuccessRejectItem">

                            <partial name="_RejectItem" model="@(new RejectItemDTO {Id = item.Id})" />

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> بستن</button>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-check-square-o"></i> رد کردن اطلاعات</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }
}

