@using MarketPlace.DataLayer.Entities.Products

@{
    var categories = ViewBag.ProductCategories as List<ProductCategory>;
}

<div class="header-bottom sticky-header">
    <div class="container">
        <div class="header-left">
            <div class="dropdown category-dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="دسته بندی های فروشگاه">
                    دسته بندی محصولات
                </a>

                <div class="dropdown-menu">
                    <nav class="side-nav">
                        <ul class="menu-vertical sf-arrows ">
                            @if (categories != null && categories.Any())
                            {
                                @foreach (var category in categories.Where(x => x.ParentId == null))
                                {
                                    <li class="megamenu-container">
                                        <a class="sf-with-ul text-dark" asp-area="" asp-controller="Product" asp-action="FilterProducts" asp-route-Category="@category.UrlName">
                                            <i class="@category.Icon text-dark"></i>
                                            @category.Title
                                        </a>

                                        <div class="megamenu">
                                            <div class="row no-gutters">
                                                <div class="col-md-12">
                                                    <div class="menu-col">
                                                        <div class="row">
                                                            @if (categories.Any(x => x.ParentId == category.Id))
                                                            {
                                                                @foreach (var subCategory in categories.Where(x => x.ParentId == category.Id))
                                                                {
                                                                    <div class="col-md-3">
                                                                        <div class="menu-title">@subCategory.Title</div>
                                                                        <!-- End .menu-title -->
                                                                        @if (categories.Any(x => x.ParentId == subCategory.Id))
                                                                        {
                                                                            <ul>
                                                                                @foreach (var secondSubCategory in categories.Where(x => x.ParentId == subCategory.Id).Take(6))
                                                                                {
                                                                                    <li>
                                                                                        <a class="text-dark" asp-area="" asp-controller="Product" asp-action="FilterProducts"
                                                                                           asp-route-Category="@secondSubCategory.UrlName">@secondSubCategory.Title</a>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        }
                                                                    </div>

                                                                    <!-- End .col-md-6 -->
                                                                }
                                                            }
                                                        </div><!-- End .row -->
                                                    </div><!-- End .menu-col -->
                                                </div><!-- End .col-md-8 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .megamenu -->
                                    </li>

                                }

                            }
                        </ul><!-- End .menu-vertical -->
                    </nav><!-- End .side-nav -->
                </div><!-- End .dropdown-menu -->
            </div><!-- End .category-dropdown -->
        </div><!-- End .col-lg-3 -->
        <div class="header-center">
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="/" class="">
                            صفحه اصلی
                        </a>
                    </li>

                    <li class="megamenu-container">
                        <a asp-area="" asp-controller="Product" asp-action="FilterProducts" class="">
                            محصولات
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Blog" asp-action="ArticleList" class="">
                            بلاگ
                        </a>
                    </li>
                    <li class="megamenu-container">
                        <a asp-controller="Home" asp-action="FrequentlyQuestions" class="">
                            سوالات متداول
                        </a>
                    </li>
                    <li class="megamenu-container">
                        <a asp-controller="Home" asp-action="AboutUs" class="">
                            درباره ما
                        </a>
                    </li>
                    <li class="megamenu-container">
                        <a asp-controller="Home" asp-action="ContactUs" class="">
                            تماس با ما
                        </a>
                    </li>


                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->
        </div><!-- End .col-lg-9 -->
        <div class="header-right">
            <span>
                <a asp-controller="Home" asp-action="SellerGuidelines" class="text-warning animated-button1" title="فروشنده شوید">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                    فروشنده شوید !!!
                </a>
            </span>

        </div>
    </div><!-- End .container -->
</div>

