@using MarketPlace.Application.Utilities
@model MarketPlace.DataLayer.DTOs.Contact.FilterContactUs
@{
    ViewData["Title"] = "تماس با ما";
}


@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت صفحات</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-filter"></i> فیلتر ها</div>
            <div class="card-body">

                <form asp-area="Administration" asp-controller="Home" asp-action="ContactUsList" method="get" id="filter-form">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>موبایل کاربر</label>
                            <input class="form-control" asp-for="Mobile" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">اعمال فیلتر</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> @ViewData["Title"]</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.ContactUs != null && Model.ContactUs.Any())
                                {
                                    <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc">شناسه</th>
                                                <th class="sorting">موضوع پیام</th>
                                                <th class="sorting">متن پیام</th>
                                                <th class="sorting">نام کاربر</th>
                                                <th class="sorting">موبایل</th>
                                                <th class="sorting">ایمیل</th>
                                                <th class="sorting">آدرس IP</th>
                                                <th class="sorting">تاریخ ایجاد</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.ContactUs)
                                            {
                                                <tr id="ajax-url-item-@item.Id" role="row" class="odd">
                                                    <td>@item.Id</td>
                                                    <td>@item.MessageSubject</td>
                                                    <td>@Html.Raw(item.MessageText)</td>
                                                    <td>@(item.User != null ? item.User.FirstName + " " + item.User.LastName : item.Fullname)</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.UserIp</td>
                                                    <td>@item.CreateDate.ToStringShamsiDate()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="alert-message text-dark">
                                            <span><strong>هشدار!</strong> هیچ اطلاعاتی یافت نشد</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <hr />
                    </div>
                </div>
                <br />
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_info" id="default-datatable_info" role="status" aria-live="polite">نمایش تعداد 10 پیام در هر صفحه از تعداد کل : @Model.ContactUs.Count پیام</div>
                </div>
            </div>
        </div>
    </div>
</div>


