@using MarketPlace.Application.Utilities
@model MarketPlace.DataLayer.DTOs.Site.FilterFrequentlyQuestionDTO

@{
    ViewData["Title"] = "سوالات متداول";
}


@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">مدیریت فروشندگان</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <form asp-area="Administration" asp-controller="Home" asp-action="FrequentlyQuestionList" method="get" id="filter-form">
                <input type="hidden" asp-for="PageId" />
            </form>
            <div class="card-header"><i class="fa fa-plus"></i> افزودن سوال جدید</div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>افزودن سوال جدید</label>
                        <a class="btn btn-sm btn-success btn-block form-control"
                           asp-area="Administration" asp-controller="Home"
                           asp-action="CreateFrequentlyQuestion">
                            افزودن سوال جدید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> @ViewData["Title"]</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.FrequentlyQuestions != null && Model.FrequentlyQuestions.Any())
                                {
                                    <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc">شناسه</th>
                                            <th class="sorting">عنوان سوال</th>
                                            <th class="sorting">پاسخ سوال</th>
                                            <th class="sorting">تاریخ ایجاد</th>
                                            <th class="sorting">دستورات</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        @foreach (var faq in Model.FrequentlyQuestions)
                                        {
                                            <tr id="ajax-url-item-@faq.Id" role="row" class="odd">
                                                <td class="sorting">@faq.Id</td>
                                                <td>@faq.QuestionHeader</td>
                                                <td>@(faq.QuestionText.Substring(0, Math.Min(faq.QuestionText.Length, 80)) + "..."))</td>
                                                <td>@faq.CreateDate.ToStringShamsiDate()</td>
                                                <td>
                                                    <a class="btn btn-sm btn-warning"
                                                       asp-area="Administration" asp-controller="Home" asp-action="EditFrequentlyQuestion"
                                                       asp-route-faqId="@faq.Id">
                                                        ویرایش اطلاعات
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="alert-message text-dark">
                                            <span><strong>هشدار!</strong> هیچ اطلاعاتی یافت نشد</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr/>
                        <hr/>
                    </div>
                </div>
                <br/>
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()"/>
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_info" id="default-datatable_info" role="status" aria-live="polite">نمایش تعداد 10 سوال در هر صفحه از تعداد کل : @Model.FrequentlyQuestions.Count سوال</div>
                </div>
            </div>
        </div>
    </div>
</div>
