@using MarketPlace.DataLayer.Entities.Products
@model MarketPlace.DataLayer.DTOs.Products.CreateProductDTO
@{
    ViewData["Title"] = "ثبت محصول جدید";
    var categories = ViewBag.Categories as List<ProductCategory>;
}

@section Scripts
{
    <partial name="_JqueryValidators" />
}

<div class="page-header text-center">
    <div class="container">
        <h3 class="text-danger">@ViewData["Title"]</h3>
    </div><!-- End .container -->
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Home" asp-action="Dashboard">صفحه اصلی</a></li>
            <li class="breadcrumb-item" aria-current="page"><a asp-area="Seller" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item active"><a href="#">@ViewData["Title"]</a></li>

        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    @await Component.InvokeAsync("SellerSidebarDashboard")
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        <div class="tab-pane fade active show" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form method="post" asp-area="Seller" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data" id="create_product_form">
                                
                            <div class="row col-md-12">
                                <div class="form-group col-md-12">
                                    <label>نام محصول</label>
                                    <input type="text" asp-for="Title" class="form-control" placeholder="مثال : آیفون 13 پرو مکس 256 گیگابایت">
                                    <span class="text-danger float-right" asp-validation-for="Title"></span>
                                </div>
                                <br />
                            </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-6">
                                        <label>قیمت محصول</label>
                                        <input type="text" asp-for="Price" class="form-control" placeholder="قیمت محصول را به تومان وارد نمایید">
                                        <span class="text-danger float-right" asp-validation-for="Price"></span>
                                    </div>
                                    <br />
                                    <div class="form-group col-md-6">
                                        <label>وزن محصول</label>
                                        <input type="text" asp-for="ProductWeight" class="form-control" placeholder="وزن محصول را به گرم وارد نمایید. مثال: 350 گرم">
                                        <span class="text-danger float-right" asp-validation-for="ProductWeight"></span>
                                    </div>
                                    <br />
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>توضیحات کوتاه محصول</label>
                                        <textarea class="form-control" rows="3" asp-for="ShortDescription"></textarea>
                                        <span class="text-danger float-right" asp-validation-for="ShortDescription"></span>
                                    </div>
                                    <br />
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>توضیحات اصلی محصول</label>
                                        <br />
                                        <br />
                                        <textarea class="form-control" ckeditor="1" asp-for="Description"></textarea>
                                        <span class="text-danger float-right" asp-validation-for="Description"></span>
                                    </div>
                                    <br />
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-2">
                                        <label>فعال / غیر فعال</label>
                                        <input type="checkbox" style="width: 30px; height: 30px;" value="true" name="@nameof(Model.IsActive)" class="float-right">
                                        <span class="text-danger float-right" asp-validation-for="IsActive"></span>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <label>تصویر محصول</label>
                                        <input type="file" name="productImage" class="form-control" accept=".png, .jpeg, .jpg">
                                    </div>
                                    <br />
                                </div>
                                <hr />

                                @if (categories != null && categories.Any())
                                {
                                    @foreach (var category in categories.Where(x => x.ParentId == null))
                                    {
                                        <ul>
                                            <li>
                                                <label style="padding-left: 5px;">@category.Title</label>
                                                <input type="checkbox" style="margin-top: 7px; width: 15px; height: 15px;"
                                                       value="@category.Id" main_category_checkbox="@category.Id"
                                                       name="@nameof(Model.SelectedCategories)"
                                                       class="float-right">
                                                <br />
                                                @if (categories.Any(x => x.ParentId == category.Id))
                                                {
                                                    <div id="sub_categories_@category.Id" style="display: none;">
                                                        @foreach (var subCategory in categories.Where(x => x.ParentId == category.Id))
                                                        {
                                                            <label style="padding-left: 5px;">@subCategory.Title</label>
                                                            <input type="checkbox" style="margin-top: 7px; margin-left: 5px; width: 15px; height: 15px;"
                                                                   parent-category-id="@category.Id"
                                                                   value="@subCategory.Id" main_category_checkbox="@subCategory.Id"
                                                                   name="@nameof(Model.SelectedCategories)" class="float-right">


                                                            <div id="sub_categories_@subCategory.Id" style="display: none;">
                                                                @foreach (var secondSubCategory in categories.Where(x => x.ParentId == subCategory.Id))
                                                                {
                                                                    <label style="padding-left: 5px;">@secondSubCategory.Title</label>
                                                                    <input type="checkbox" style="margin-top: 7px; margin-left: 5px; width: 15px; height: 15px;"
                                                                           parent-category-id="@subCategory.Id"
                                                                           value="@secondSubCategory.Id"
                                                                           name="@nameof(Model.SelectedCategories)" class="float-right">

                                                                    <br />
                                                                }

                                                            </div>

                                                        }

                                                    </div>
                                                    <br />
                                                }
                                            </li>
                                        </ul>
                                        <hr />
                                    }
                                }

                                <div class="row col-md-12">

                                    <div class="form-group col-md-4">
                                        <label>رنگ محصول</label>
                                        <input type="text" id="product_color_name_input" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>قیمت مضاف رنگ محصول</label>
                                        <input type="text" id="product_color_price_input" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>کد رنگ محصول</label>
                                        <input type="color" id="product_color_code_input" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <br />
                                        <a id="add_color_button" class="btn btn-block btn-round btn-sm text-dark" title="افزودن رنگ">
                                            <svg xmlns="http://www.w3.org/2000/svg" color="green" width="30" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                            </svg>
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                    </div>
                                </div>

                                <br />
                                <table class="table table-striped table-bordered table-responsive-md text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">نام رنگ</th>
                                            <th scope="col">قیمت</th>
                                            <th scope="col">کد رنگ</th>
                                            <th scope="col">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody id="list_of_product_colors">
                                    </tbody>
                                </table>

                                <div class="row col-md-12">

                                    <div class="form-group col-md-5">
                                        <label>ویژگی محصول</label>
                                        <input type="text" id="product_feature_title_input" class="form-control">
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label>مقدار ویژگی محصول</label>
                                        <input type="text" id="product_feature_value_input" class="form-control">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <br />
                                        <a id="add_feature_button" class="btn btn-block btn-round btn-sm text-dark" title="افزودن ویژگی">
                                            <svg xmlns="http://www.w3.org/2000/svg" color="green" width="30" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                            </svg>
                                            <i class="bi bi-plus-square-fill"></i>
                                        </a>
                                    </div>
                                </div>

                                <br />
                                <table class="table table-striped table-bordered table-responsive-md text-center">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">نام ویژگی</th>
                                        <th scope="col">مقدار ویژگی</th>
                                        <th scope="col">عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody id="list_of_product_features">
                                    </tbody>
                                </table>

                                <br />
                                <br />

                                <button type="submit" onclick="wait_me()" class="btn btn-round btn-success btn-block float-right">
                                    <span>ثبت اطلاعات</span>
                                    <i class="fa fa-save fa fa-2x"></i>
                                </button>
                                <button onclick="window.history.go(-1);" class="btn btn-round btn-primary btn-block float-right">
                                    <span>بازگشت به صفحه قبل</span>
                                    <i class="fa fa-arrow-circle-left fa fa-2x"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div>





