@using MarketPlace.Application.EntitiesExtensions
@model List<MarketPlace.DataLayer.Entities.Site.Slider>





@if (Model != null && Model.Any())
{
    <div class="intro-slider-container">
    <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-rtl owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                        &quot;nav&quot;: false,
                        &quot;rtl&quot;: true,
                            &quot;responsive&quot;: {
                            &quot;992&quot;: {
                                &quot;nav&quot;: true
                            }
                        }
                    }">
        <!-- End .intro-slide -->
        <!-- End .intro-slide -->
        <!-- End .intro-slide -->
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(4047px, 0px, 0px); transition: all 0.4s ease 0s; width: 9443px;">
                @foreach (var item in Model)
                {
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="intro-slide" style="background-image: url(@item.GetSliderImageAddress());">
                            <div class="container intro-content">
                                <div class="row">
                                    <div class="col-auto offset-lg-3 intro-col">
                                        <h3 class="intro-subtitle">@item.Header</h3><!-- End .h3 intro-subtitle -->
                                        <h4 class="intro-title">
                                            @item.MainText
                                            <span>
                                                <span class="text-primary">@item.SecondText</span>
                                                <br />
                                                <br />
                                                <span class="text-dark">@item.Footer</span>
                                            </span>
                                        </h4><!-- End .intro-title -->

                                        <a href="@item.Link" class="btn btn-primary">
                                            <span>اکنون خرید کنید</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </a>
                                    </div><!-- End .col-auto offset-lg-3 -->
                                </div><!-- End .row -->
                            </div><!-- End .container intro-content -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div><!-- End .owl-carousel owl-simple -->

</div>

}



