@using MarketPlace.Application.Utilities
@model MarketPlace.DataLayer.DTOs.Blog.Article.FilterArticleDTO
@{
    ViewData["Title"] = "لیست مقاله ها";
}


@section scripts
{
    <partial name="_JqueryValidators" />
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Administration" asp-controller="Home" asp-action="Index">داشبورد</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">@ViewData["Title"]</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-filter"></i> فیلتر ها</div>
            <div class="card-body">

                <form asp-area="Administration" asp-controller="Blog" asp-action="ArticleList" method="get" id="filter-form">
                    <input type="hidden" asp-for="PageId" />
                    <div class="row">
                        <div class="form-group col-lg-5">
                            <label>عنوان مقاله</label>
                            <input class="form-control" asp-for="Title" />
                        </div>
                        <div class="form-group col-lg-5">
                            <label>دسته مقاله</label>
                            <select class="form-control" asp-for="CategoryId" asp-items='new SelectList(ViewBag.Category, "Id", "Name")'>
                                <option value="0">دسته مقاله مورد نظر را انتخاب نمایید...</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>اعمال فیلتر</label>
                            <button type="submit" class="btn btn-info btn-block">اعمال فیلتر</button>
                        </div>
                    </div>
                    <br />
                    <a class="btn btn-sm btn-success form-control"
                       asp-area="Administration" asp-controller="Blog"
                       asp-action="CreateArticle">
                        افزودن مقاله
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> @ViewData["Title"]</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.Articles != null && Model.Articles.Any())
                                {
                                    <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc">شناسه</th>
                                                <th class="sorting">تصویر</th>
                                                <th class="sorting">عنوان مقاله</th>
                                                <th class="sorting">توضیحات کوتاه</th>
                                                <th class="sorting">تاریخ انتشار</th>
                                                <th class="sorting">تاریخ ایجاد</th>
                                                <th class="sorting">دستورات</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var article in Model.Articles)
                                            {
                                            <tr id="ajax-url-item-@article.Id" role="row" class="odd">
                                                <td class="sorting">@article.Id</td>
                                                <td class="sorting">
                                                    <img style="width: 90px; height: 60px;"
                                                         src="@(!string.IsNullOrEmpty(article.Image) ? PathExtension.ArticleOrigin + article.Image : PathExtension.DefaultAvatar)" title="@article.Title" />
                                                </td>
                                                <td>@article.Title</td>
                                                <td>@(article.ShortDescription.Substring(0, Math.Min(article.ShortDescription.Length, 50)) + " ...")</td>
                                                <td>@article.PublishDate.ToStringShamsiDate()</td>
                                                <td>@article.CreateDate.ToStringShamsiDate()</td>
                                                <td>
                                                    <a class="btn btn-sm btn-warning"
                                                       asp-area="Administration" asp-controller="Blog" asp-action="EditArticle"
                                                       asp-route-articleId="@article.Id">
                                                        ویرایش مقاله
                                                    </a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div class="alert-message text-dark">
                                            <span><strong>هشدار!</strong> هیچ اطلاعاتی یافت نشد</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <hr />
                    </div>
                </div>
                <br />
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_info" id="default-datatable_info" role="status" aria-live="polite">نمایش تعداد 10 مقاله در هر صفحه از تعداد کل : @Model.Articles.Count مقاله</div>
                </div>
            </div>
        </div>
    </div>
</div>




